@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>home</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+SC">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Ludens-Users---2-Register.css">
    <link rel="stylesheet" href="assets/css/Map-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Off-Canvas-Sidebar-Drawer-Navbar.css">
    <link rel="stylesheet" href="assets/css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="assets/css/Projects-Clean.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/sidebar-1.css">
    <link rel="stylesheet" href="assets/css/SIdebar-Responsive-2-1.css">
    <link rel="stylesheet" href="assets/css/SIdebar-Responsive-2.css">
    <link rel="stylesheet" href="assets/css/sidebar.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-dark fixed-top bg-info off-canvas" data-toggle="tooltip" data-bss-tooltip="" data-right-drawer="0" data-open-drawer="1" style="height: 240.8px;background: rgb(255,255,255);margin: 57px;margin-top: 110px;margin-left: 28px;width: 260px;margin-bottom: 40px;color: rgb(161,195,230);">
        <div class="container-fluid flex-column">
            <ul class="navbar-nav text-left flex-column drawer-menu" style="margin-top: 26px;margin-left: 1px;font-size: 18px;color: rgb(249,249,249);margin-bottom: 5px;">
                <li class="nav-item"><a class="nav-link active" asp-controller="Home" asp-action="HomePageView">Statistike</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="EvidencijaSimptomaView">Evidencija simptoma</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="PrevencijaView">Mjere prevencije</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="RegistracijaView">Registracija/Login</a></li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron" style="margin-left: 46px;margin-top: 8px;margin-right: 9px;height: 765.2px;width: 1210.6px;color: rgb(246,247,249);margin-bottom: 16px;">
        <h1 class="text-left" style="background: var(--red);color: var(--white);text-align: left;margin-top: -33px;padding-top: 18px;width: 1130.6px;height: 89px;padding-left: 18px;">COVID-19 statistika<br><br></h1>
        <p></p>
        <p></p>
        <div class="container text-center" style="margin-top: 44px;">
            <div class="row" style="margin-top: 34px;">
                <div class="col-md-4" style="margin-top: 0px;">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button" style="background: rgb(88,175,212);border-color: rgb(88,175,212);">Novi slučajevi</button>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">Novi slučajevi</a><a class="dropdown-item" href="#">Smrtni slučajevi</a><a class="dropdown-item" href="#">Oporavljeni</a></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button" style="background: rgb(88,175,212);border-color: rgb(88,175,212);">Bosna i Hercegovina</button>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">Bosna i Hercegovina</a><a class="dropdown-item" href="#">Svijet</a></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button" style="background: rgb(88,175,212);border-color: rgb(88,175,212);">Sve vrijeme</button>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">Sedmično</a><a class="dropdown-item" href="#">Mjesečno</a><a class="dropdown-item" href="#">Sve vrijeme</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 39px;height: 431px;width: 980.6px;margin-right: -7px;margin-left: 67px;"><canvas data-bss-chart="{&quot;type&quot;:&quot;line&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;January&quot;,&quot;February&quot;,&quot;March&quot;,&quot;April&quot;,&quot;May&quot;,&quot;June&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;Revenue&quot;,&quot;backgroundColor&quot;:&quot;#4e73df&quot;,&quot;borderColor&quot;:&quot;#4e73df&quot;,&quot;data&quot;:[&quot;4500&quot;,&quot;5300&quot;,&quot;6250&quot;,&quot;7800&quot;,&quot;9800&quot;,&quot;15000&quot;],&quot;fill&quot;:true}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:true,&quot;legend&quot;:{&quot;display&quot;:false,&quot;position&quot;:&quot;bottom&quot;},&quot;title&quot;:{&quot;position&quot;:&quot;right&quot;}}}"></canvas></div>
    </div>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/chart.min.js"></script>
    <script src="~/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="~/assets/js/Off-Canvas-Sidebar-Drawer-Navbar.js"></script>
    <script src="~/assets/js/Off-Canvas-Sidebar-Drawer-Navbar-1.js"></script>
</body>

</html>