@{
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>home</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body class="text-center" style="border-style: hidden;">
    <nav class="navbar navbar-light navbar-expand-md bg-white navigation-clean-button">
        <div class="container">
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul><span class="navbar-text actions"> </span>
            </div>
        </div>
    </nav>
    <div class="jumbotron text-center" data-aos="fade" data-aos-duration="50" style="background: rgb(201,242,242);text-align: center;height: 336px;padding: 0px;">
        <h1 data-aos="fade" style="font-family: 'Abril Fatface', serif;font-size: 50px;margin-bottom: 0px;margin-top: 0px;">Dobrodošli</h1>
        <p data-aos="fade" style="text-align: center;padding: 20px;padding-left: 100px;font-size: 20px;font-family: ABeeZee, sans-serif;font-weight: normal;font-style: normal;"><br>“CovidX“ je softver koji olakšava praćenje pandemije medicinskom osoblju, pacijentima i svim drugim korisnicima koji dobrovoljno žele da koriste sistem.&nbsp;<br>Pruža korisnicima najnovije informacije o COVID-19 i mogućnost online provjere simptoma, te rezervisanja termina testiranja.&nbsp;<br></p><small class="form-text text-muted" style="margin-bottom: 6px;">Za više, pritisnite sliku ispod.</small><button class="btn btn-primary" type="button" style="background: url(&quot;assets/img/logo.png&quot;) no-repeat;background-size: cover;width: 100.5px;height: 103px;border-style: none;">Button</button>
    </div>
    <div></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>

</html>