@{
    ViewData["Title"] = "Login Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>home</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+SC">
    <link rel="stylesheet" href="/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="/Login-Form-Clean.css">
    <link rel="stylesheet" href="/Login-Form-Dark.css">
    <link rel="stylesheet" href="/Ludens-Users---2-Register.css">
    <link rel="stylesheet" href="/Map-Clean.css">
    <link rel="stylesheet" href="/Navigation-with-Button.css">
    <link rel="stylesheet" href="/Off-Canvas-Sidebar-Drawer-Navbar.css">
    <link rel="stylesheet" href="/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="/Projects-Clean.css">
    <link rel="stylesheet" href="/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/sidebar-1.css">
    <link rel="stylesheet" href="/SIdebar-Responsive-2-1.css">
    <link rel="stylesheet" href="/SIdebar-Responsive-2.css">
    <link rel="stylesheet" href="/sidebar.css">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <section class="login-dark" style="width: 500px;height: 500px;background: rgb(255,255,255);margin-left: 40px;">
        <img src="~/assets/img/logo.png" style="width: 200px;height: 200px;margin-top: 27px;margin-right: -4px;margin-left: 143px;margin-bottom: 26px;">
        <div class="form-group"><input class="form-control-sm" type="email" name="email" placeholder="Email" style="width: 240px;height: 38px;margin-top: 0px;margin-left: 118px;background: rgb(255,255,255);"></div><input class="form-control-sm" type="password" name="password" placeholder="Password" style="width: 240px;height: 38px;margin-left: 116px;background: rgb(255,255,255);"><button class="btn btn-primary btn-block" type="submit" style="width: 240px;height: 46px;margin-bottom: 15px;margin-top: 18px;margin-left: 118px;">Log In</button>
    </section>
    <nav class="navbar navbar-dark fixed-top bg-info off-canvas" data-toggle="tooltip" data-bss-tooltip="" data-right-drawer="0" data-open-drawer="1" style="height: 240.8px;background: rgb(255,255,255);margin: 57px;margin-top: 110px;margin-left: 28px;width: 260px;margin-bottom: 40px;color: rgb(161,195,230);">
        <div class="container-fluid flex-column">
            <ul class="navbar-nav text-left flex-column drawer-menu" style="margin-top: 26px;margin-left: 1px;font-size: 18px;color: rgb(249,249,249);margin-bottom: 5px;">
                <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="HomePageView">Statistike</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="EvidencijaSimptomaView">Evidencija simptoma</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="PrevencijaView">Mjere prevencije</a></li>
                <li class="nav-item"><a class="nav-link active asp-controller="Home" asp-action="RegistracijaView">Registracija/Login</a></li>
            </ul>
        </div>
    </nav>
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/chart.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="/assets/js/Off-Canvas-Sidebar-Drawer-Navbar.js"></script>
    <script src="/assets/js/Off-Canvas-Sidebar-Drawer-Navbar-1.js"></script>
    <script id="bs-live-reload" data-sseport="60587" data-lastchange="1621439203813" src="/js/livereload.js"></script>
</body>

</html>