@{
    ViewData["Title"] = "Evidencija simptoma";
}


    <!DOCTYPE html >
    <html lang="en" >

    <head >
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" >
    <title > Evidencija</title >
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/Jumbotron-Circular-Addon.css" >
    <link rel="stylesheet" href="/styles.css" >
    </head >

    <body >
    <div class="jumbotron-circular-addon-wrapper" >
        <div class="bg-light border rounded border-light jumbotron py-5 px-4" style="height: 741px;">
            <center>
                <img src="~/assets/img/logo.png" style="height: 175px;width: 190px;">
            </center>
            <h1 style="font-size: 25px;text-align:center;"> <br> <br> Na osnovu datih odgovora, ne morate se testirati ako to ne preporuči ili ne zahtijeva vaš zdravstveni radnik, poslodavac ili javni zdravstveni službenik.<br> <br> </h1>
            <p style="margin-top: 20px; font-size:20px;"> Koraci koje trebate pratiti svaki dan:</p>
            <ul class="text-start" style="width: 700px;font-weight: bold;text-align: left;">
                <li class="text-start" style="height: 30px;padding-top: 0px;text-align: left;padding-bottom: 0px;margin-top: 0px;"> Nosite masku preko nosa i usta.<br> <br> </li>
                <li style="height: 30px; text-align:left"> Držite se najmanje 6 metara dalje od ljudi koji ne žive s vama.<br> <br> </li>
                <li style="height: 30px; text-align:left"> Uzmite COVID-19 cjepivo kada vam bude dostupno.<br> <br> </li>
                <li style="height: 30px; text-align:left"> Izbjegavajte gužve i slabo prozračene prostore.<br> <br> </li>
                <li style="height: 30px; text-align:left"> Često perite ruke vodom i sapunom ili koristite sredstvo za dezinfekciju ruku s najmanje 60% alkohola<br> <br> </li>
            </ul>
            <p> <br> </p>
        </div>
    </div >
    <script src="/assets/bootstrap/js/bootstrap.min.js" > </script >
    <script id="bs-live-reload" data-sseport="51745" data-lastchange="1621674914461" src="/js/livereload.js" > </script >
    </body >

    </html >
