@{
    ViewData["Title"] = "Evidencija simptoma";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Evidencija</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Jumbotron-Circular-Addon.css">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div></div>
    <div class="jumbotron-circular-addon-wrapper">
        <div class="bg-light border rounded border-light jumbotron py-5 px-4" style="height: 741px;">
            <center>
                <img src="~/assets/img/logo.png" style="height: 175px;width: 190px;text-align: center;margin-top: 13px;">
            </center>
            <h1 style="font-size: 25px;text-align: center;margin-top: 20px;"><br>Vaši odgovori ukazuju na to da biste se trebali testirati. Registrujte se, ako nemate korisnički račun i rezervišite termin.<br></h1>
            <p class="text-center" style="margin-top: 20px;height: 103px; font-size:20px">Većina slučajeva COVID-19 može se rješavati kod kuće. Teški simptomi mogu zahtijevati bolničko liječenje.<br><br></p>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script id="bs-live-reload" data-sseport="51745" data-lastchange="1621676422251" src="/js/livereload.js"></script>
</body>

</html>