@{
    ViewData["Title"] = "Unijeli ste test";
}

<main class="page" style="min-height: 100%;">
    <section class="clean-block about-us" style="border-style: none;">
        <div class="row" style="margin-right: 0px;margin-left: 0px;">
            <div class="col">
                <nav class="navbar navbar-light navbar-expand-md">
                    <div class="container-fluid">
                        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navcol-1">
                            <ul class="navbar-nav" style="font-weight:bold">
                                <li class="nav-item"><a class="nav-link" asp-controller="MedicinskaSestra" asp-action="MedicinskaSestraView">Osoblje profil</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="MedicinskaSestra" asp-action="KartoniPacijenata">Kartoni pacijenata</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="MedicinskaSestra" asp-action="RezervacijaTestiranjaMed">Rezervacija termina</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div>
                <p></p>
                <h1>Uspješno ste unijeli test.</h1>
            </div>
        </div>
        </section>
</main>