@{
    ViewData["Title"] = "Unos rezultata";
}
<style type="text/css">
    select {
        // A reset of styles, including removing the default dropdown arrow appearance: none;
        // Additional resets for further consistency background-color: transparent;
        border: none;
        padding: 0 1em 0 0;
        margin: 0;
        width: 100%;
        font-family: inherit;
        font-size: inherit;
        cursor: inherit;
        line-height: inherit;

        outline: none;
    }
        select::-ms-expand {
            display: none;
        }
</style>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>home</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+SC">
    <link rel="stylesheet" href="/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="/-Countdown-BS4-.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="/Login-Form-Clean.css">
    <link rel="stylesheet" href="/Ludens-Users---2-Register.css">
    <link rel="stylesheet" href="/Ludens-Users---3-Profile.css">
    <link rel="stylesheet" href="/Map-Clean.css">
    <link rel="stylesheet" href="/Navigation-with-Button.css">
    <link rel="stylesheet" href="/Off-Canvas-Sidebar-Drawer-Navbar.css">
    <link rel="stylesheet" href="~/assets/css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="/Profile-Edit-Form.css">
    <link rel="stylesheet" href="/Projects-Clean.css">
    <link rel="stylesheet" href="/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/sidebar-1.css">
    <link rel="stylesheet" href="/SIdebar-Responsive-2-1.css">
    <link rel="stylesheet" href="/SIdebar-Responsive-2.css">
    <link rel="stylesheet" href="/sidebar.css">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="row register-form">
        <div class="col-md-8 offset-md-2">
           
            <form class="custom-form">

                <h1>Test</h1>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">ID testa</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="text" name="id" style="width: 286px;margin-left: 13px;"></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field">Datum testiranja</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" name="datumTestiranja" type="date" style="width: 286.1px;margin-left: 13px;"></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label">Vrsta testa</label></div>
                    <div class="col-sm-6 input-column">
                        <div class="custom-select" style="margin-left:13px" name="vrsta">
                            <select>
                                <option value="PCR">PCR</option>
                                <option value="Serološki">Serološki</option>
                                <option value="Brzi antigenski">Brzi antigenski</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="repeat-pawssword-input-field">Namjena testa</label></div>
                    <div class="col-sm-6 input-column" style="margin-left: 13px;">
                        <div class="custom-select" name="namjena">
                            <select>
                                <option value="Hitni">Hitni</option>
                                <option value="Potrebe prelaska granice">Potrebe prelaska granice</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="dropdown-input-field">Rezultat</label></div>
                    <div class="col-sm-4 input-column">
                        <div class="custom-select" style="margin-left:13px" name="rezultat">
                            <select>
                                <option value="Pozitivan">POZITIVAN</option>
                                <option value="Negativan">NEGATIVAN</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="dropdown-input-field">ID kartona</label></div>
                    <div class="col-sm-4 input-column"><input class="form-control" name="idKartona" type="text" style="width: 286.1px;margin-left: 13PX;"></div>
                </div>
                @using (Html.BeginForm("UnesiTest", "MedicinskaSestra", FormMethod.Post))
                {
                    <button class="btn btn-light submit-button" type="submit">Unesi test</button>
                }
            </form>
            
            </div>
    </div>
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/chart.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="/assets/js/Off-Canvas-Sidebar-Drawer-Navbar.js"></script>
    <script src="/assets/js/Off-Canvas-Sidebar-Drawer-Navbar-1.js"></script>
    <script src="/assets/js/-Countdown-BS4-.js"></script>
    <script src="/assets/js/Profile-Edit-Form.js"></script>
    <script id="bs-live-reload" data-sseport="51103" data-lastchange="1622650077838" src="/js/livereload.js"></script>
</body>

</html>