@{
    ViewData["Title"] = "Mapa sa lokacijama za testiranje";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>home</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+SC">
    <link rel="stylesheet" href="/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="/Login-Form-Clean.css">
    <link rel="stylesheet" href="/Ludens-Users---2-Register.css">
    <link rel="stylesheet" href="/Map-Clean.css">
    <link rel="stylesheet" href="/Navigation-with-Button.css">
    <link rel="stylesheet" href="/Off-Canvas-Sidebar-Drawer-Navbar.css">
    <link rel="stylesheet" href="/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="/Projects-Clean.css">
    <link rel="stylesheet" href="/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/sidebar-1.css">
    <link rel="stylesheet" href="/SIdebar-Responsive-2-1.css">
    <link rel="stylesheet" href="/SIdebar-Responsive-2.css">
    <link rel="stylesheet" href="/sidebar.css">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
            <div class="row" style="margin-right: 0px;margin-left: 0px;">
                <div class="col">
                    <nav class="navbar navbar-light navbar-expand-md">
                        <div class="container-fluid">
                            <button data-toggle="collapse" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                            <div class="collapse navbar-collapse" id="navcol-1" style="font-weight:bold">
                                <ul class="navbar-nav">
                                    <li class="nav-item"><a class="nav-link" asp-controller="Pacijent" asp-action="PacijentView">Pacijent profil</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="Pacijent" asp-action="RezervacijaTestiranjaView">Rezervacija termina</a></li>
                                    <li class="nav-item"><a class="nav-link active" asp-controller="Pacijent" asp-action="MapaView">Mapa sa lokacijama za testiranje</a></li>
                                  
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="jumbotron" style="height: 99px;margin: 10px;padding: 0px;padding-bottom: 25px;padding-top: 25px;background: rgb(229,225,212);padding-left: 10px;width: 1344.4px;">
                <h1 style="font-family: 'Alegreya SC', serif;font-weight: normal;font-style: normal;width: 1340.4px;height: 64px;">Mapa sa lokacijama za testiranje</h1>
            </div>
            <ul class="list-group" style="width: 144px;margin-left: 20px;">
                <li class="list-group-item"><span>Novo Sarajevo</span></li>
                <li class="list-group-item"><span>Ilidža</span></li>
                <li class="list-group-item"><span>Stari Grad</span></li>
            </ul><iframe allowfullscreen="" frameborder="0" loading="lazy" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA62CnN8ZXuYu7lGmfiyx00tYjEjxsPLpU&amp;q=Sarajevo&amp;zoom=15" width="100%" height="400" style="width: 1066.4px;height: 584px;margin: 15px;margin-left: 180px;margin-bottom: 0px;margin-top: -162px;"></iframe>
            <script src="/assets/js/jquery-3.6.0.min.js"></script>
            <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
            <script src="/js/chart.min.js"></script>
            <script src="/assets/js/bs-init.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
            <script src="/assets/js/Off-Canvas-Sidebar-Drawer-Navbar.js"></script>
            <script src="/assets/js/Off-Canvas-Sidebar-Drawer-Navbar-1.js"></script>
            <script id="bs-live-reload" data-sseport="51103" data-lastchange="1622641530691" src="/js/livereload.js"></script>
</body>

</html>