
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/Bootstrap-Payment-Form.css">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header></header>
    <form style="width: 500px;">
        <img src="~/assets/img/download.jpg" style="width: 118px;margin-top: 6px;margin-right: 0px;margin-left: 10px;">
        <p class="text-center" style="color: rgb(0,0,0);margin-left: 144px;font-weight: bold;">REZULTAT MIKROBIOLOŠKIH ANALIZA</p>
    </form>
    <div class="row" style="margin-left: 12px;margin-top: 42px;">
        <div class="col-md-6" style="width: 250px;">
            <p style="width: 250px;margin-left: 12px;">Ime i prezime</p>
        </div>
        <div class="col"><label class="col-form-label"></label></div>
    </div>
    <div class="row" style="height: 40px;margin-left: 12px;">
        <div class="col-md-6" style="width: 250px;height: 40px;">
            <p style="width: 250px;margin-left: 12px;">Vrsta testa</p>
        </div>
        <div class="col-md-6"><label class="col-form-label"></label></div>
    </div>
    <div class="row" style="height: 40px;margin-left: 12px;">
        <div class="col-md-6" style="width: 250px;height: 40px;">
            <p style="width: 250px;margin-left: 12px;">Namjena testa</p>
        </div>
        <div class="col-md-6" style="height: 40px;"><label class="col-form-label"></label></div>
    </div>
    <div class="row" style="height: 40px;margin-left: 12px;">
        <div class="col-md-6" style="width: 250px;height: 40px;">
            <p style="width: 250px;margin-left: 12px;">Rezultat</p>
        </div>
        <div class="col-md-6" style="height: 40px;"><label class="col-form-label"></label></div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script id="bs-live-reload" data-sseport="51103" data-lastchange="1622662239458" src="/js/livereload.js"></script>
</body>

</html>