
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/Bootstrap-Payment-Form.css">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="row .payment-dialog-row">
        <div class="col-12 col-md-4 offset-md-4" style="margin-top: 32px;width: 377.5px;">
            <div class="card credit-card-box">
                <div class="card-header">
                    <h3 style="text-align: center;"><span class="text-center panel-title-text" style="font-size: 21.8px;text-align: center;">Ostvarujete popust od 20% za online plaćanje.</span><img class="img-fluid panel-title-image" src="/accepted_cards.png"></h3>
                </div>
                <div class="card-body">
                    <form id="payment-form">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group mb-3">
                                    <label class="form-label" for="cardNumber">Broj kartice</label>
                                    <div class="input-group"><input class="form-control" type="tel" id="cardNumber" required=""><span class="input-group-text"><i class="fa fa-credit-card"></i></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                <div class="form-group mb-3"><label class="form-label" for="cardExpiry"><span>Datum uplate&nbsp;</span><span></span></label></div><input class="form-control" type="date" style="margin-bottom: 9px;">
                            </div>
                            <div class="col"><label class="form-label" for="cardExpiry"><span>Datum isteka&nbsp;</span><span></span></label><input class="form-control" type="tel" id="cardExpiry-1" required="" placeholder="MM / YY"></div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group mb-3"><label class="form-label" for="couponCode">Iznos uplate</label><input class="form-control" type="text" id="couponCode"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12"><button class="btn btn-success btn-lg d-block w-100" type="submit">Plati</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script id="bs-live-reload" data-sseport="51103" data-lastchange="1622661240945" src="/js/livereload.js"></script>
</body>

</html>